.login-form input {
  width: 50%;
  padding: 6px 10px;
  box-sizing: border-box;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.login-form label {
  display: inline-block;
  text-align: right;
  font-size: 20px;
  width: 30%;
  margin-bottom: 25px;
}

.login-form button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 8px 8px 8px 8px;
  margin: auto;
}

.login-form .login-buttons {
  display: inline-block;
}

.login-buttons span {
  margin: 10px;
}